.form[data-v-8d341652] {
  position: relative;
}

.form-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: black;
  position: relative;
  width: 367px;
  padding-bottom: 16px;
}
.form-item-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form-item-error {
  color: #ee4b4b;
}
.form-item-label {
  width: 90px;
  height: 38px;
  line-height: 38px;
  padding-right: 10px;
}
.form-item-label-left {
  text-align: left;
}
.form-item-label-right {
  text-align: right;
}
.form-item-help {
  position: absolute;
  height: 14px;
  font-size: 12px;
  bottom: 2px;
}
.form-item-help-position {
  left: 100px;
}

.hao-input[data-v-14b3ee32] {
  outline: none;
  border: 1px solid lightgray;
  width: 257px;
  height: 34px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
.hao-input-focuse[data-v-14b3ee32] {
  border-color: lightblue;
}
.hao-input-error[data-v-14b3ee32] {
  border-color: red;
}

.hao-button {
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: lightblue;
  color: #fff;
  padding: 5px 10px;
  min-width: 80px;
  height: 38px;
  border-radius: 4px;
}
.hao-button.hao-button-round {
  border-radius: 38px;
}
.hao-button:hover {
  background-color: blue;
}
.hao-button:active {
  -webkit-box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.2), 4px 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.2), 4px 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.hao-button .loading-box {
  width: 18px;
  height: 14px;
  display: inline-block;
  vertical-align: text-bottom;
}
.hao-button .loading-box .button-loading {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
  border-right-color: #fff;
  border-radius: 50%;
  -webkit-animation: loading 0.5s linear infinite;
  animation: loading 0.5s linear infinite;
}
.hao-button .loading-text {
  vertical-align: text-bottom;
}
.hao-button-large {
  min-width: 108px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  vertical-align: middle;
  letter-spacing: 2px;
}
.hao-button-large.hao-button-round {
  border-radius: 40px;
}
.hao-button-large .loading-box {
  width: 24px;
  height: 20px;
  vertical-align: text-top;
}
.hao-button-large .loading-box .button-loading {
  width: 16px;
  height: 16px;
}
.hao-button-small {
  min-width: 34px;
  height: 34px;
}
.hao-button-small.hao-button-round {
  border-radius: 34px;
}
.hao-button-fab {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.hao-button-disabled {
  cursor: not-allowed;
  color: red;
  background-color: lightgray;
}
.hao-button-disabled:hover {
  background-color: lightgray;
}
.hao-button-disabled:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hao-button-flat {
  color: lightblue;
  background-color: transparent;
}
.hao-button-flat.hao-button-disabled {
  cursor: not-allowed;
  color: red;
  background-color: transparent;
}
.hao-button-flat:hover {
  background-color: transparent;
}
.hao-button-flat:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hao-button-flat .loading-box .button-loading {
  border-right-color: gray;
}
.hao-button-full-width {
  width: 100%;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-text {
  display: inline-block;
  vertical-align: middle;
}

@font-face {
  font-family: 'iconfont';  /* project id 1160899 */
  src: url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.eot');
  src: url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.woff') format('woff'),
  url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.svg#iconfont') format('svg');
}
.iconfont{
  font-family: 'iconfont';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  fill: currentColor;
  overflow: hidden;
}
.home[data-v-b931ac22] {
  position: relative;
}
.home .home-main[data-v-b931ac22] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 700px;
  -webkit-box-shadow: 0px 3px 3px -4px black;
  box-shadow: 0px 3px 3px -4px black;
}

