.loading[data-v-db1f5c58] {
  position: absolute;
  top: 0;
  width: 500px;
  height: 500px;
  background-color: orange;
}
.loading-text[data-v-db1f5c58] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 36%;
  font-size: 40px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: textenter-data-v-db1f5c58 steps(4, end) 1s infinite;
  animation: textenter-data-v-db1f5c58 steps(4, end) 1s infinite;
}
@-webkit-keyframes textenter-data-v-db1f5c58 {
from {
    width: 3em;
}
to {
    width: 7em;
}
}
@keyframes textenter-data-v-db1f5c58 {
from {
    width: 3em;
}
to {
    width: 7em;
}
}

.error[data-v-a8e77758] {
  position: absolute;
  top: 0;
  width: 400px;
  height: 500px;
  background-color: blue;
  color: #fff;
}

#app[data-v-7798ea25] {
  position: relative;
}
#app .large[data-v-7798ea25] {
  height: 700px;
  width: 400px;
  background-color: red;
}
#app .fade-enter-active[data-v-7798ea25],
#app .fade-leave-active[data-v-7798ea25] {
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
#app .fade-enter[data-v-7798ea25],
#app .fade-leave-to[data-v-7798ea25] {
  opacity: 0;
}
#app .bb[data-v-7798ea25] {
  position: relative;
}
#app .aa[data-v-7798ea25] {
  width: 500px;
  height: 400px;
  overflow: hidden;
}
#app .cccc[data-v-7798ea25] {
  position: absolute;
  top: 0;
  width: 400px;
  height: 500px;
  background-color: blue;
}

.loading-box[data-v-2ecbd168] {
  position: absolute;
  overflow: hidden;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.fixed[data-v-2ecbd168] {
  position: fixed;
}
.loading-inner[data-v-2ecbd168] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.loading[data-v-2ecbd168] {
  position: relative;
  border: solid transparent;
  border-radius: 50%;
  -webkit-animation: loading-data-v-2ecbd168 0.5s linear infinite;
  animation: loading-data-v-2ecbd168 0.5s linear infinite;
}
@-webkit-keyframes loading-data-v-2ecbd168 {
from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes loading-data-v-2ecbd168 {
from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

