
.counter{
       background: -webkit-gradient(linear, left top, left bottom, from(pink), to(black));
       background: -webkit-linear-gradient(top, pink, black);
       background: -o-linear-gradient(top, pink, black);
       background: linear-gradient(to bottom, pink, black);
}

#app[data-v-2534ee76] {
  background: -webkit-gradient(linear, left top, left bottom, from(yellow), to(black));
  background: -webkit-linear-gradient(top, yellow, black);
  background: -o-linear-gradient(top, yellow, black);
  background: linear-gradient(to bottom, yellow, black);
}

