.hao-button{
    outline: none;
    border: none;
    background-color: lightblue;
    color: #fff;
    padding: 5px 10px;
    min-width: 80px;
    height: 38px;
    border-radius: 4px;
    &.hao-button-round{
        border-radius: 38px;
    }
}
.hao-button-large{
    min-width: 108px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
    letter-spacing: 2px;
    &.hao-button-round{
        border-radius: 40px;
    }
}
.hao-button-small{
    min-width: 50px;
    height: 34px;
    &.hao-button-round{
        border-radius: 34px;
    }
}
.hao-button-fab{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}
.hao-button-flat{
    color: lightblue;
    background-color: transparent;
    &.hao-button-disabled{
        cursor: not-allowed;
        color: gray;
        background-color: transparent;
    }
}
.hao-button-disabled{
    cursor: not-allowed;
    color: #fff;
    background-color: lightgray;
}
.hao-button-full-width{
    width: 100%;
}