@font-face {
  font-family: 'iconfont';  /* project id 1160899 */
  src: url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.eot');
  src: url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.woff') format('woff'),
  url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1160899_rjqkj2mxvze.svg#iconfont') format('svg');
}
.iconfont{
  font-family: 'iconfont';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  fill: currentColor;
  overflow: hidden;
}