.number-box{
    position: relative;
    width: 258px;
    height: 38px;
    .number-input{
        outline: none;
        border: 1px solid lightgray;
        width: 190px;
        height: 34px;
        &.prepend{
            padding-left: 66px;
            border-radius: 4px;
        }
        &.append{
            width: 246px;
            padding-left: 10px;
            border-radius: 4px;
        }
        &:focus{
            border-color: lightblue;
        }
        &.disabled{
            cursor: not-allowed;
        }
    }
    .label{
        position: absolute;
        top: 1px;
        overflow: hidden;
        width: 55px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        background-color: lightblue;
        user-select: none;
        .label-span{
            position: absolute;
            left: 1px;
            overflow: hidden;
            width: 55px;
            cursor: pointer;
            .svg-icon{
                color: #fff;
            }
            &:hover{
                .svg-icon{
                    color : blue;
                }
            }
            &.disabled{
                cursor: not-allowed;
                .svg-icon{
                    color: #fff;
                }
            }
        }
        .label-top{
            top: 0;
            height: 19px;
            transform: rotateX(180deg);  
        }
        .label-bottom{
            bottom: 0;
            height: 18px;
            border-top: 1px solid #fff;
        }
        &.disabled{
            background-color: lightgray;
            color: #fff;
            cursor: not-allowed;
        }
    }
    .append-box{
        right: 1px;
        border-radius: 0 4px 4px 0;
        &:hover{
            color: blue;
        }
        &.disabled{
            color: #fff;
        }
        &:hover +.number-input{
            border-color: blue;
        }
    }
    .prepend-box{
        left: 1px;
        border-radius: 4px 0 0 4px;
        &:hover{
            color: blue;
        }
        &.disabled{
            color: #fff;
        }
        &:hover ~.number-input{
            border-color: blue;
        }
    }
}